body{
  margin: 0;
  text-align: center;
  font-family: 'sacramento', serif;
}
h1{
  color: #66BFBF;
  font-size: 40px;
}
h2{
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
}
h4{
  color: #66BFBF;
  font-size: 20px;
  font-weight: normal;
  }
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #11999E;
  margin: 20px 10px;
  text-decoration: none;
}
a:hover{
color: #EAF6F6;
}
.btn{
  background-color: green;
  border: none;
  border-radius: 5px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 200px;
}
.mountain{
  position: relative;
  top: 150px;
}
.intro{
  width: 30%;
  margin: auto;
}
.pro {
  text-decoration: underline;
}
.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.top-container{
  background-color: #E4F9F5;
  height: 400px;
  padding-top: 100px;
  position: relative;
}
.middle-container{
  margin: 50px 0;
}
.profile-img{
  height: 200px;
  width: 200px;
}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.burger{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row{
  width: 700px;
  margin: 100px auto 100px auto;
  text-align: left;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
